.aboutUs-section{
  background-color: white;
  /*#7d8da815*/
}

.aboutUs-section h2 {
  font-weight: bold;
  padding: 50px 0 30px;
  text-align: center
}

.aboutUs-section p {
  font-size: 1.4rem;
  text-align: center
}

.aboutus-content {
  margin: 50px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}