.comments-section{
    background-color:white;
    height: 600px
}

.comments-content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.comments-section h2 {
    font-weight: bold;
    padding: 50px 0 30px;
    text-align: center
}
  
.comments-section p {
    font-size: 1.4rem;
    text-align: center
}
  
