/* /* .navbar-main {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
} */

.logo-main {
  width: 70px; 
  height: 60%;
}

.landing-navbar {
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: rgba(26, 26, 26, 0.288) 2px solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.landing-navbar a {
  text-decoration: none;
  color: #1A1A1A;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.logo-image {
  margin: 10px 40px;
  width: 250px;
  height: auto;
}

.nav-bar-li {
  list-style: none;
  margin: 15px;
  font-size: 1px;
  color: #1A1A1A;
  border: rgba(0, 177, 114, 0) solid 4px;
}

.logo-image:hover {
  transform: rotate(720deg);
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;

}

.nav-bar-li:hover {
  border:  rgba(0, 177, 114, 1) solid 4px;
  transition: border;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.li1 {
  animation-name: appearance;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.li2 {
  animation-name: appearance;
  animation-duration: 1s; 
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.li3 {
  animation-name: appearance;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}


.li4 {
  animation-name: appearance;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes appearance {
  0% {
    font-size: 1px;
  }

  100% {
    font-size: 26px;
  }
}
