.image-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-image: url("https://res.cloudinary.com/dvjtdeyli/image/upload/v1562697888/game-images/Image_2019-07-09_at_8.42.39_PM_uxns9s.png");
  background-size: contain;
}

.container-content{
  margin: 100px 30px 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-text{
  font-weight: bold;
  width: 100%;
}

.main-text-p{
  margin: 50px 0;
  font-size: 1.4rem
}

.main-image-image{
  width: 50%;
}

.main-button{
  display: flex;
  width: 100%;
}

.home-image-wrapper{
  background-color:#67758c15
}

.container-demo {
  display: flex;
  align-items: center;
}

.container-img {
  order: 1;
}
.image-background-home{
  width: 550px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .image-background-home{
    width: 400px;
  }
}


@media (max-width: 999px) {
  .container-demo {
    flex-wrap: wrap;
    justify-content: center
  }
  .container-img {
    order: 0;
  }

  .main-text-p{
    margin: 20px 0;
    font-size: 1.4rem
  }

  .main-button{
    display: flex;
    width: 100%;
    justify-content: center
  }

  .container-content{
    margin: 50px 30px 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-text-p {
    width: 100%;
  }
  .image-background-home{
    margin: 0 auto;
    width: 100%;
  }
}
