.image-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-image: url("https://res.cloudinary.com/dvjtdeyli/image/upload/v1562697888/game-images/Image_2019-07-09_at_8.42.39_PM_uxns9s.png");
  background-size: contain;
}

.container-content{
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.main-text{
  font-weight: bold;
  width: 100%;
}

.main-text-p{
  margin: 100px 0;
  width: 70%;
  font-size: 1.4rem
}

.main-image-image{
  width: 50%;
}

.main-button{
  width: 35%;
  align-self: flex-start
}

.container-demo {
  display: flex;
  align-items: center;
}

.container-img {
  order: 1;
}
.image-background-home{
  width: 600px;
}


@media (max-width: 768px) {
  .container-demo {
    flex-wrap: wrap;
  }
  .container-img {
    order: 0;
  }

  .main-text-p {
    width: 100%;
  }
  .image-background-home{
    margin: 0 auto;
    width: 400px;
  }
}
