.about-us-register-background{
  position: relative !important;
  padding: 7%;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.733);
  z-index: 1000;
}

.close-button {
  color: red;
  float: right;
  padding: 10px;
}

.aboutus-label{
  font-weight: 700;
  font-size: 1.4rem
}

@media (max-width: 775px) {
  .about-us-register-background-mobile{
    background-color: rgba(240, 248, 255, 0.733);
    padding: 3px;
  }
  .about-us-register-component{
    background-color: white;
    border: 2px solid rgba(58, 211, 178, 0.486);
    width:100%;
  }
}
