.about-us-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 100px
}

.about-us-text {
    width: 100%;
    white-space: pre-wrap;
    text-align: center
}

.edit-aboutus-button-wrapper{
    width: 100%;
    text-align: center;
    margin-top: 50px
}


