.instructions-footer-wrapper{
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000; 
}

.instructions-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}


.more {
    color: white;
    font-weight: 700;

}

.more-info{
    align-content: flex-start;
    color: white;
}
