.checkout-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.name-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.form-name{
    width: 50%
}

.form-LastName{
    width: 50%,
}

.direcction-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: inline;
}

.form-email{
    
    width: 100%;
}
.email-label{
    width: 7%
}

.email-box{
    width: 90%;
}

.box-label{
    width: 100%
}

.box-input{
    width: 100%
}
.boxes-label{
    width: 100%
}
.boxes-input{
    width: 100%
}
.label-box{
    width: 100%
}
.input-box{
    width: 98%
}

.paypal-logo {
  font-family: Verdana, Tahoma;
  font-weight: bold;
  font-size: 26px;
}

.paypal-logo1 {
  color: #253b80;
  font-weight: 700
}

.paypal-logo2 {
  color: #179bd7;
  font-weight: 700
}
  
.paypal-button {
    padding: 15px 30px;
    border: 1px solid #FF9933;
    border-radius: 5px;
    background-image: linear-gradient(#FFF0A8, #F9B421);
}
