.landing-header-wrapper{
  width: 100%;
}

.landing-navbar2 {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landing-navbar2 .link {
  text-decoration: none;
  color: #1A1A1A;
}

.navbar-items2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px
}

.logo-image2 {
  margin: 18px 40px 20px 0; 
  max-height: 65px;
  width: auto
}

.nav-bar-li3 {
  list-style: none;
  margin: 15px;
  font-size: 1px;
  color: #1A1A1A;
  border: rgba(0, 0, 0, 0) solid 1px;
}

.logo-image2:hover {
  transform: rotate(720deg);
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;

}

.Link:hover {
  padding: 5px;
  border:  rgb(0, 0, 0) solid 2px;
  transition: border;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.newli1 {
  animation-name: newappearance;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.newli2 {
  animation-name: newappearance;
  animation-duration: 1s; 
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.newli3 {
  animation-name: newappearance;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}


.newli4 {
  animation-name: newappearance;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes newappearance {
  0% {
    font-size: 1px;
  }

  100% {
    font-size: 20px;
  }
}

