.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}


.category-title {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}